@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@bold&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background: rgb(41, 64, 158);
  font-family: "Montserrat", sans-serif;
  font-size: 62.5%;
}

.main-container {
  width: 400px;
  height: 400px;
  background: rgb(255, 255, 255);
  border-radius: 0.5rem;
  margin: 150px auto;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.centerElement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

h3 {
  font-size: 2.7rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 0;
}

label {
  display: block;
}

input {
  border-radius: 0.5rem;
  background-color: transparent;
  border: 0;
  height: 2.3rem;
  width: 16rem;
  outline: none;
  color: rgb(0, 0, 0);
}

input[placeholder] {
  font-size: 1rem;
}

input:focus {
  background-color: transparent;
  border: 0;
  height: 2.3rem;
  width: 16rem;
  outline: none;
}

::placeholder {
  font-size: 0.8rem;
  color: rgba(74, 74, 74, 0.592);
}

.text,
.password {
  font-weight: bold;
  padding-top: 0.8rem;
  font-size: 1rem;
  color: rgb(28, 28, 28);
}

.fas {
  color: rgb(0, 0, 0);
}

.linee {
  border: rgba(74, 74, 74, 0.37) solid 1px;
  border-radius: 5px;
}

.button button {
  border-radius: 5px;
  font-size: 1rem;
  padding: 10px 80px;
  background: rgb(0, 128, 255);
  border: 1px solid #fff;
  color: rgba(255, 255, 255, 0.952);
  margin-top: 42px;
  font-weight: bold;
}

.button button:hover {
  background: rgb(0, 162, 255);
}
